<mat-sidenav-container
  (backdropClick)="close()"
>
  <mat-sidenav
    class="sidenav"
    mode="over"
    [opened]="sidenavState"
  >
    <div>
      <mat-toolbar class="sidenav__close">
        <button
          *ngIf="!isChild"
          mat-button
          class="sidenav__close__btn"
          (click)="toggleSidenav()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <app-sidenav></app-sidenav>
    </div>
  </mat-sidenav>
  <mat-sidenav
    *ngIf="isMobile"
    class="searchnav"
    mode="over"
    position="end"
    [opened]="searchnavState"
  >
    <button
      mat-button
      class="searchnav__close__btn"
      (click)="toggleSearchnav()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      [title]="title"
      [isChild]="isChild"
    ></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
